/* font-family: 'Josefin Sans', sans-serif; */
/* Reset some default styles */
body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;    
    background-image: url('../assets/home-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

#navbar {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.site-name {
    font-size: 24px;
}

#links {
    list-style: none;
    display: flex;
}

#links li {
    margin: 0 15px;
}

#links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.5s;
}

#links a:hover {
    color: aquamarine;
}

.head {
    background-color: #d3d3d3;
    opacity: 80%;
    border-style: none;
    padding: 25px;
    margin: 80px auto;
    max-width: 850px;
    border-radius: 15px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.name {
    font-size: 48px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #000;
}

.img {
    text-align: center;
}

.img img {
    max-width: 100%;
    height: auto;
}

#center-text {
    text-align: center;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.icon-group {
    display: flex;
    align-items: center; 
    margin-left: calc(43% - 20px);
    margin-right: calc(43% - 20px);
    margin-top: 20px;
}

.icon {
    margin-right: 20px; 
}

.icon:last-child {
    margin-right: 5px;
}

.icon:hover {
    transform: scale(130%);
    transition: 0.7s;
}

.icon::not(:hover){
    transition: 1s;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    #navbar {
        padding: 10px 10px;
    }

    .site-name {
        font-size: 14px;
    }

    #links li {
        margin: 0 10px;
    }

    #links li a {
        font-size: 12px;
        padding-bottom: 40px;
    }

    .head {
        padding: -5px;
        margin: 45px;
        
    }

    .head .intro .name {
        font-size: 24px;
    }

    .head .intro #center-text {
        font-size: 20px;
    }

    .icon-group {
        flex-wrap: wrap; 
        justify-content: center; 
        margin-left: 0; 
        margin-right: 0; 
        margin-top: 10px; 
    }

    .icon {
        margin: 5px; 
    }

    .icon:last-child {
        margin-right: 5px; 
    }
}